@font-face {
  font-family: HeaadFont;
  src: url("../fonts/HeadlinerFont.otf") format("opentype");
}
.tab {
  padding-top: 2rem;
}
.logo-narod {
  height: auto;
  width: 60%;
  padding-top: 1rem;
}
.main-content {
  background-image: url(/img/background.png);
  font-family: "HeaadFont";
}
a {
  text-decoration: none;
}
.header-links {
  text-decoration-color: #ffffff;
  color: #ffffff;
  font-size: 2rem;
}
.header-links:hover {
  transition: 0.3s;
  color: red;
}
.tab2 {
  padding-top: 40.1rem;
}
