* {
    padding: 0;
    margin: 0;
}
root {

}
html {
    height: 100%;
}
body {
    background-color: #EEE1D9 !important;
    height: 100% !important;
}
a {
    display: contents;
    text-decoration: none;
    color: unset;
}
.container-fluid {
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: clip !important;
    height: 100% !important;
}
.row {
    height: 100% !important;
    width: 100%;
    overflow-y: clip !important;
    flex-wrap: wrap !important;
    align-content: space-between !important;
    justify-content: center;
    align-items: center;
}
.div-height {
    min-height: 15% !important;
}
.blobs {
    position: relative;
}
.blob_1 {
    position: relative;
    padding-right: 2rem;
    transform: scale(12,12);
    max-height: 100px;
    z-index: 0;
}
.blob1_1 {
    position: relative;
    padding-left: -1.5rem;
    padding-bottom: 2rem;
    transform: scale(26,18);
    max-height: 100px;
    z-index: 0;
}
.blob2_1 {
    position: relative;
    transform: scale(18,18);
    padding-top: 5rem;
    padding-left: 2rem;
    z-index: 0;
}
.blob3_1 {
    position: relative;
    transform: scale(14,24);
    padding-top: 2rem;
    padding-left: 2.5rem;
    z-index: 0;
}
.flowers_svg {
    position: relative;
    z-index: 1;
    height: 70%;
    display: flex;
    align-items: self-end;
    justify-content: flex-start;
}
.flowers_svg1 {
    position: relative;
    z-index: 1;
    height: 70%;
    display: flex;
    align-items: self-start;
    justify-content: flex-end;
}
.flowers {
    position: absolute;
    width: calc(100% + 6.7rem);
    z-index: 1;
    bottom: -29%;
    left: -13.5%;
}
.flowers1 {
    position: absolute;
    width: calc(100% + 6.7rem);
    z-index: 1;
    top: -29%;
    right: -13.5%;
}
.logoBlock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 70%;
}
.logo {
    height: 145rem;
}
.ico-block {
    display: flex;
    justify-content: space-around;
}
.ico {
    display: flex;
    position: relative;
    max-height: 5rem;
    z-index: 1;
}
.ico:hover {
    filter: brightness(70%);
}
@media screen and (min-width: 320px) {
    .logo {
        position: absolute !important;
        height: 20rem !important;
    }
    .flowers {
        width: calc(100% + 12.7rem) !important;
        bottom: -25% !important;
        left: -34.5% !important;
    }
    .flowers1 {
        width: calc(100% + 12.7rem) !important;
        top: -25% !important;
        right: -34.5% !important;
    }
    .blob_1 {
        padding: 0 !important;
        margin: 0 !important;
        padding-top: 0rem !important;
        padding-right: 0.7rem !important;
        transform: scale(24,24) !important;
    }
    .blob1_1 {
        transform: scale(3,3) !important;
        padding: 0 !important;
        margin: 0 !important;
        padding-left: 0.07rem !important;
        padding-bottom: 0.6rem !important;
    }
    .blob2_1 {
        transform: scale(54,54) !important;
        padding: 0 !important;
        margin: 0 !important;
        padding-top: 0.2rem !important;
    }
    .blob3_1 {
        transform: scale(32,84) !important;
        padding: 0 !important;
        margin: 0 !important;
        padding-left: 0.04rem !important;
        padding-bottom: 0.15rem !important;
    }
}
@media screen and (min-width: 576px) {
    .logo {
        position: absolute !important;
        height: 30rem !important;
    }
    .flowers {
        width: calc(100% + 12.7rem) !important;
        bottom: -25% !important;
        left: -24.5% !important;
    }
    .flowers1 {
        width: calc(100% + 12.7rem) !important;
        top: -25% !important;
        right: -24.5% !important;
    }
}
@media screen and (min-width: 768px) {
    .logo {
        position: absolute !important;
        height: 30rem !important;
    }
    .flowers {
        width: calc(100% + 12.7rem) !important;
        bottom: -25% !important;
        left: -23.5% !important;
    }
    .flowers1 {
        width: calc(100% + 12.7rem) !important;
        top: -25% !important;
        right: -23.5% !important;
    }
    .blob_1 {
        padding-right: 2rem !important;
        transform: scale(12,12) !important;

    }
    .blob1_1 {
        padding-left: 2.5rem !important;
        padding-bottom: 2rem !important;
        transform: scale(26,18) !important;

    }
    .blob2_1 {
        transform: scale(18,18) !important;
        padding-top: 1rem !important;
        padding-left: 0 !important;

    }
    .blob3_1 {
        transform: scale(14,24) !important;
        padding-top: 1rem !important;
        padding-left: 0 !important;

    }
}
@media screen and (min-width: 1000px) {
    .blob_1 {
        padding-right: 2rem !important;
        transform: scale(12,12) !important;

    }
    .blob1_1 {
        padding-left: -1.5rem !important;
        padding-bottom: 2rem !important;
        transform: scale(26,18) !important;

    }
    .blob2_1 {
        transform: scale(18,18) !important;
        padding-top: 5rem !important;
        padding-left: 2rem !important;

    }
    .blob3_1 {
        transform: scale(14,24) !important;
        padding-top: 2rem !important;
        padding-left: 2.5rem !important;

    }
}
@media screen and (min-width: 1400px) {
    .blob_1 {
        padding-right: 2rem !important;
        transform: scale(12,12) !important;

    }
    .blob1_1 {
        padding-left: -0.5rem !important;
        padding-bottom: 1rem !important;
        transform: scale(26,18) !important;

    }
    .blob2_1 {
        transform: scale(18,18) !important;
        padding-top: 3rem !important;
        padding-right: 1rem !important;

    }
    .blob3_1 {
        transform: scale(14,24) !important;
        padding-top: 2rem !important;
        padding-left: 1.5rem !important;

    }
}
@media screen and (min-width: 1900px) {
    .blob_1 {
        padding-right: 2rem !important;
        transform: scale(12,12) !important;

    }
    .blob1_1 {
        padding-left: 2.5rem !important;
        padding-bottom: 2rem !important;
        transform: scale(26,18) !important;

    }
    .blob2_1 {
        transform: scale(18,18) !important;
        padding-top: 3rem !important;
        padding-right: 1rem !important;

    }
    .blob3_1 {
        transform: scale(14,24) !important;
        padding-top: 2rem !important;
        padding-left: 2.5rem !important;

    }
}
@media screen and (min-width: 2500px) {
    .blob_1 {
        padding-right: 2rem !important;
        transform: scale(12,12) !important;

    }
    .blob1_1 {
        padding-left: 0.5rem !important;
        padding-bottom: 2rem !important;
        transform: scale(26,18) !important;

    }
    .blob2_1 {
        transform: scale(18,18) !important;
        padding-top: 3rem !important;
        padding-right: 3rem !important;

    }
    .blob3_1 {
        transform: scale(14,24) !important;
        padding-top: 2rem !important;
        padding-left: 4.5rem !important;

    }
}