:root {
    --widthCalc: 35vw;
    --heightCalc: 25vw;
    --width1Calc: 900;
    --height1Calc: 900;
    --left1Calc: -10%;
    --left2Calc: 75%;
    --left3Calc: 24%;
    --left4Calc: 24%;
    --left5Calc: 24%;
    --left6Calc: 24%;
    --left7Calc: 24%;
    --top1Calc: -35%;
    --top2Calc: -20%;
    --top3Calc: 25%;
    --top4Calc: 25%;
    --top5Calc: 25%;
    --top6Calc: 25%;
    --top7Calc: 25%;
    --rotateCalc: 3.01deg;
    --translateCalc: 0, 0, 0;
    --translateCalc1: 0, 5px, 0 ;
    --translateCalc2: 0, -15px, 0;
    --translateCalc1_1: 0, 45px, 0 ;
    --translateCalc2_1: 0, 16px, 0;
    --scale1: 2, 1;
    --scale2: 1, 1.5;
    --scale3: 2, 2;
    --scaleForPhone: 4, 4;
}
* {
	margin: 0 !important;
	padding: 0 !important;
}
html,body {
	height: 100%;
    max-width: 100%;
	background-color: #EEE1D9;
    overflow: hidden !important;
}
#logo {
	display: flex;
	justify-content: center;
  align-items: center;
	height: inherit;
}
svg {
	display: flex;
	width: 40%;
	z-index: 10;
}
.logo {
    width: auto;
    height: 35vh;
}
.blob {
  position: absolute;
  left:  var(--left1Calc);
  top: var(--top1Calc);
  width: var(--widthCalc);
  height: var(--heightCalc);
  display: block;
}
.blob_1 {
    transform: scale(var(--scale3));
}
.blob1 {
    position: absolute;
    left:  var(--left2Calc);
    top: var(--top2Calc);
    width: var(--widthCalc);
    height: var(--heightCalc);
    display: block;
}
.blob1_1 {
    transform: scale(var(--scale1));
}
.blob2 {
    position: absolute;
    left:  var(--left3Calc);
    top: var(--top3Calc);
    width: var(--widthCalc);
    height: var(--heightCalc);
    display: block;
}
.blob2_1 {
    transform: scale(var(--scale2));
}
.blob3 {
    position: absolute;
    left:  var(--left4Calc);
    top: var(--top4Calc);
    width: var(--widthCalc);
    height: var(--heightCalc);
    display: block;
}
.blob3_1 {
    transform: scale(var(--scaleForPhone));
}
.blob4 {
    position: absolute;
    left:  var(--left5Calc);
    top: var(--top5Calc);
    width: var(--widthCalc);
    height: var(--heightCalc);
    display: block;
}
.blob4_1 {
    transform: scale(var(--scaleForPhone));
}
.flowers {
    position: absolute;
    left:  var(--left6Calc);
    top: var(--top6Calc);
    width: var(--width1Calc);
    height: var(--height1Calc);
    display: block;
    z-index: 999;
}
.flowers1 {
    position: absolute;
    left:  var(--left7Calc);
    top: var(--top7Calc);
    width: var(--width1Calc);
    height: var(--height1Calc);
    display: block;
    z-index: 999;
}